.unfinished, .completed{
    font-size: 1.25rem;
}

.completed{
    color:grey;
}

input[type="checkbox"]{
    transform: scale(1.25);
}

td{
    border: solid 1px black;
    padding: 16px;
}

.todo-item:hover{
    background-color: #31393C;
    color: #CDC5B4
}