body{
    width: 100%;
    max-width: 68rem;
    margin: 0 auto;
    background-color: #FFFAFF;
}

.app-wrapper{
    background-color: #EBEBEB;
    margin-top: 5%;
    padding-top: 16px;
    padding-bottom: 32px;
}

.inner-wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

.app-title{
    text-align: center;
    margin-top: 0;
    border-bottom: solid;
}

.todo-container{
    border-top: solid;
    width: 100%;
    margin-top: 16px;
}